.rounded-btn {
    padding: 1rem 4rem;
    border-radius: 2rem;
    background: #e9b649;
    // color: #fff;
    font-weight: bold;
    text-align: center;
    transition: all .3s;
    cursor: pointer;
    opacity: .8;

    &:hover {
        opacity: .6;
    }

    &:active {
        opacity: 1;
    }
}