.dog {
    position: relative;
    text-align: center;

    svg.yellow  {
        fill: #eebe56;
    }

    svg.black {
        fill: #000;
    }

    svg.brown {
        fill: #694f37;
    }

    .bark {
        position: absolute;
        top: 0;
        right: 10%;
        font-size: 5rem;
        font-weight: bold;
    }
}